<h1> Update <%=@band.name%></h1>
<%= render "form" %>

<% if @band.errors.any? %>
<p>There's something wrong</p>
<% @band.errors.full_messages.each do |message| %>
  <ul>
    <li><%=message%></li>
  </ul>
  <%end%>
<%end%>

